{
  "name": "{{ name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "created": "{{ timestamp }}",
  "author": "",
  "repository": "",
  "license": "MIT",
  "keywords": [],
  "dependencies": {}
}
