{
  "name": "{{ plugin_display_name }}",
  "owner": {
    "name": "{{ author_name }}",
    "email": "{{ author_email }}"
  },
  "description": "{{ description }}",
  "plugins": [
    {
      "name": "{{ plugin_name }}",
      "description": "{{ description }}",
      "version": "{{ version }}",
      "source": "./"
    }
  ]
}
