{
  "name": {{ plugin_display_name | tojson }},
  "owner": {
    "name": {{ author_name | tojson }},
    "email": {{ author_email | tojson }}
  },
  "description": {{ description | tojson }},
  "plugins": [
    {
      "name": {{ plugin_name | tojson }},
      "description": {{ description | tojson }},
      "version": {{ version | tojson }},
      "source": "./"
    }
  ]
}
