{
  "name": "{{ plugin_name }}",
  "description": "{{ description }}",
  "version": "{{ version }}",
  "author": {
    "name": "{{ author_name }}",
    "email": "{{ author_email }}"
  },
  "license": "{{ license_id }}",
  "keywords": {{ keywords | tojson }},
  "repository": "{{ repository_url }}"
}
